# To set a timezone, uncomment the next line and change Etc/UTC to a TZ identifier from this list: https://en.wikipedia.org/wiki/List_of_tz_database_time_zones#List
TZ=America/Bogota
CONFIG_BASE=/data/docker

# hackstore-proxy
HACKSTORE_TMDB_API_KEY=
